.main {
  width: 100%;
  height: 100vh;
  display: flex;
}

.menu {
  width: 15%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.menu_logo {
  height: 15%;
  width: 100%;
  padding: 50px;
}

.menu_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  width: 100%;
  height: 85%;
  background: #5555d8;
  border-radius: 55px 55px 0px 0px;
}

.menu_content_details {
  color: #fff;
  height: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

ul li {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  height: 19px;
  font-style: normal;

}

ul li:hover{
    background: rgba(69, 69, 188, 0.54);
border-radius: 13px;
}

/** Body */
.body {
  padding-top: 1.5rem;
  background-color: #f6f7fb;
  width: 85%;
  height: 100%;
}

.nav-body {
  display: flex;
  width: 100%;
}

.body_content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 5rem;
  width: 30%;
  height: 20%;
}

.body_content p {
  width: 75%;
}

.body_form {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 3rem;
  padding-right: 2.5rem;
  width: 75%;
  height: 10%;
}

.body-content-image {
  position: relative;
}

.avatar {
  background: url("./assets/img/Ellipse-2.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* .elipse {
    transform: rotate(-50deg);
} */